/*FONT-IMPORT*/
@font-face {
    font-family: letraprincipal;
    src: url(font/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Bold.ttf);
}

/*ANIMAÇÃO*/
@keyframes balao {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 35px;
    }
    100% {
        margin-top: 0;
    }
}

body {
    background-image: linear-gradient(to right, #4d9de0, #7768ae);
    font-family: letraprincipal;
}

/*NAV*/
#logo-branca {
    width: 100px;
}
nav {
    background-color: #b57f50;
    margin: -8px;
    padding: 0px 5%;
    text-align: center;
}
#navegacao {
    margin-top: -120px;
    display: flex;
    justify-content: space-around;
}
a {
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: #4b543b;
}
#equipeR {
    cursor: pointer;
    opacity: 0%;
    position: absolute;
    width: 10%;
    height: 100px;
    margin-top: 25px;
    margin-left: 46%;
}

/*MAIN*/
main {
    text-align: center;
    color: white;
}
#tituloPrincipal {
    font-size: 70px;
}
#balao {
    background-color: #f3e998;
    color: #4b543b;
    width: 250px;
    height: auto;
    margin-left: 120%;
    padding: 20px;
    font-size: 15px;
    border-radius: 20px;
    animation: balao;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#triangulo {
    width: 0; 
    height: 0;
    margin-left: 130%; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 28px solid #f3e998;
}
#animacao {
    position: absolute;
    width: 50%;
}

/*TABELA*/
#tabela {
    display: flex;
    justify-content: center;
    margin-top: 290px;
}
table {
    background-color: #b57f50;
    color: #f3e998;
    width: 80%;
    border-radius: 30px;
    font-size: 20px;
}
td {
    padding: 15px;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
.finalTabela {
    border-bottom: transparent;
}

/*FOOTER*/
footer {
    height: 100px;
    background-color: #b57f50;
    margin: 0 -8px -8px -8px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
#linkFooter {
    padding: 20px;
}
#linhaV {
    background-color: #4b543b;
    height: auto;
    width: 2px;
}
#primerioF {
    padding-bottom: 10px;
}

/*JAVASCRIPT*/
#menu {
    position: absolute;
    background-color: #b57f50;
    margin-left: 58.3%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 20px 20px;
    width: 250px;
    height: 200px;
    z-index: 1;
}
#daniel {
    font-size: 15px;
}

@media screen and (max-width: 980px){
    /*ANIMAÇÃO*/
    @keyframes balaoM {
        0% {
        margin-top: 0;
        }
        50% {
        margin-top: 35px;
        }
        100% {
        margin-top: 0;
        }
    }

    /*NAV*/
    nav {
        font-size: 8px;
        padding: 5px;
        
    }
    #navegacao {
        margin-top: -110px;
    }

    /*MAIN*/
    #tituloPrincipal {
        font-size: 30px;
    }
    #balao { 
        width: 50%;
        font-size: 15px;
        margin-left: 35%;
        padding: 10px;
        animation: balaoM;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    #triangulo {
        margin-left: 70%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #f3e998;
    }
    #animacao {
        width: 100%;
        position: absolute;
    }

    /*TABELA*/
    table {
        font-size: 13px;
        width: 90%;

    }
    td {
        padding-inline: 10px;
        padding-block: 3px;
    }
    #logoPrincipal {
        width: 200px;
        height: 200px;
    }

    /*FOOTER*/
    footer {
        font-size: 13px;
    }
    #primerioF {
        margin-bottom: 50px;
    }
    #segundoF {
        
    }

    /*JAVASCRIPT*/
    #menu {
        width: 200px;
        margin-left: 56%;
    }
}
@media screen and (max-width: 430px) {
    @keyframes trianguloM {
        0% {
        margin-top: 147px;
        }
        50% {
        margin-top: 182px;
        }
        100% {
        margin-top: 147px;
        }
    }

    /*JAVASCRIPT*/
    #menu {
        width: 150px;
        margin-left: 55%;
        height: auto;
        padding-top: 0;
    }
    #daniel {
        display: block;
    }
}